/**
 *
 * $-Resets
 * $-Modules
 * $-Content
 * $-Media-queries
 *
 */
/**
 * $-Resets
 */
body, html {
  height: 100%;
  font-size: 16px; }

html {
  box-sizing: border-box; }

*, *:after, *:before {
  box-sizing: inherit; }

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  max-width: 1920px;
  min-height: 100vh;
  margin: 0 auto;
  line-height: 1.5;
  background-color: #eff3f5;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  font-family: "Source Sans Pro", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #333; }

/**
 * Main
 */
main {
  display: block;
  -ms-flex: 1 0 auto;
      flex: 1 0 auto; }

/**
 * Headers
 */
h1, h2, h3, h4, h5, h6 {
  margin-top: 1.5rem;
  margin-bottom: .75rem;
  font-family: Merriweather, Georgia, Times, "Times New Roman", serif;
  font-weight: 700; }

h1 {
  font-size: 1.6rem; }

h2 {
  font-size: 1.5rem; }

h3 {
  font-size: 1.4rem; }

h4 {
  font-size: 1.3rem; }

h5 {
  font-size: 1.2rem; }

h6 {
  font-size: 1.1rem; }

/**
 * Highlight
 */
::-moz-selection {
  background-color: #333;
  color: #fff; }

::selection {
  background-color: #333;
  color: #fff; }

/**
 * Anchor links
 */
a {
  text-decoration: none;
  color: blue; }
  a:active, a:hover {
    text-decoration: underline; }

/**
 * Form elements
 */
legend {
  color: inherit; }

button, input, select, textarea {
  max-width: 100%;
  min-height: 2.25rem;
  padding: 0.375rem;
  border: 1px solid #ccc;
  margin: 0;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  color: inherit; }

button, input[type=button], input[type=color], input[type=file], input[type=image], input[type=reset], input[type=submit] {
  border: none; }

button, input[type=button], input[type=reset], input[type=submit] {
  min-height: 2.25rem;
  border-radius: 0;
  background-color: #333;
  color: white;
  cursor: pointer;
  -webkit-appearance: none;
  transition: opacity 100ms ease-in-out;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transform: translate3d(0, 0, 0); }
  button:hover, input[type=button]:hover, input[type=reset]:hover, input[type=submit]:hover {
    opacity: .75; }

input[type=color], input[type=file], input[type=image] {
  min-height: auto;
  padding: 0;
  background-color: inherit; }

input[type=checkbox], input[type=radio] {
  min-height: auto;
  padding: 0;
  background-color: inherit; }

select {
  height: 2.25rem; }

/**
 * Images
 */
img {
  max-width: 100%;
  height: auto;
  border: none;
  vertical-align: middle;
  font-style: italic; }

/**
 * $-Modules
 */
/**
 * Clear fix
 */
.cf:after {
  content: "";
  display: table;
  clear: both; }

/**
 * Inline block
 */
.ib {
  display: inline-block;
  vertical-align: top; }

.ib-m {
  display: inline-block;
  vertical-align: middle; }

/**
 * List reset
 */
.list-reset {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none; }
  .list-reset .list-truncation {
    font-style: italic; }

/**
 * Container
 */
.container {
  width: 90%;
  margin: auto; }

/**
 * Columns
 */
.col {
  display: block;
  float: left;
  margin-left: 1.6%; }
  .col:first-child {
    margin-left: 0; }

/**
 * Fluid grid
 */
.grid-12 {
  width: 100%; }

.grid-11 {
  width: 91.53%; }

.grid-10 {
  width: 83.06%; }

.grid-9 {
  width: 74.6%; }

.grid-8 {
  width: 66.13%; }

.grid-7 {
  width: 57.66%; }

.grid-6 {
  width: 49.2%; }

.grid-5 {
  width: 40.73%; }

.grid-4 {
  width: 32.26%; }

.grid-3 {
  width: 23.8%; }

.grid-2 {
  width: 15.33%; }

.grid-1 {
  width: 6.866%; }

/**
 * $-Content
 */
@keyframes fadein {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

body {
  animation: fadein 2s; }

.page-header {
  text-align: center; }

.page-title {
  margin-top: 3rem;
  margin-bottom: 0;
  color: RoyalBlue; }

.feed-btn {
  display: inline-block;
  padding: .75rem;
  border-radius: .1875rem;
  margin-top: 1.5rem;
  line-height: 1;
  background-color: crimson;
  color: white;
  transition: opacity 100ms ease-in-out;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transform: translate3d(0, 0, 0); }
  .feed-btn:hover {
    text-decoration: none;
    opacity: .75; }

.show-all {
  display: none; }

.clear-favs {
  margin-top: 1.5rem; }
  .clear-favs a {
    color: #999999;
    transition: opacity 100ms ease-in-out;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    transform: translate3d(0, 0, 0); }
    .clear-favs a:hover {
      text-decoration: none;
      opacity: .75; }

/**
 * Feed
 */
.flickr-feed {
  padding-bottom: 3rem;
  text-align: center; }

.no-results {
  margin-top: 1.5rem;
  font-size: 1.6rem; }

/**
 * Items
 */
.item {
  width: 100%;
  margin-top: 1.5rem;
  border-radius: .1875rem;
  background-color: white;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
  text-align: left;
  word-break: break-all;
  overflow: hidden;
  transition: box-shadow 100ms ease-in-out; }
  .item:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.25); }

.author {
  padding: .75rem; }

.author-profile {
  display: inline-block;
  vertical-align: middle;
  width: 2rem;
  line-height: 2rem;
  border-radius: 100%;
  margin-right: .75rem;
  background-color: #eee;
  text-align: center;
  font-family: Merriweather, Georgia, Times, "Times New Roman", serif;
  font-size: 1.2rem;
  color: #333; }

.img-cont {
  text-align: center; }

.title {
  margin-top: 0;
  margin-bottom: .75rem;
  font-family: inherit;
  font-size: 1rem; }

.details {
  padding: .75rem;
  font-size: .8rem; }

.label {
  font-style: italic; }

.tags {
  margin-top: .75rem;
  font-size: .8rem;
  color: #aaa; }

.controls {
  margin-top: .75rem;
  border-top: 1px solid #ccc;
  padding-top: .75rem; }

.fav-btn {
  float: right;
  width: 1rem;
  height: 1rem;
  cursor: pointer; }
  .fav-btn path {
    fill: #ccc; }

.fav .author {
  background-color: crimson;
  color: white; }

.fav .author-profile {
  background-color: white; }

.fav .fav-btn path {
  fill: crimson; }

/**
 * $-Media-queries
 */
@media only screen and (max-width: 767px) {
  .page-title {
    margin-top: 1.5rem; } }

@media only screen and (min-width: 568px) {
  .item {
    margin-right: .75rem;
    margin-left: .75rem; } }

@media only screen and (min-width: 568px) and (max-width: 1023px) {
  .item {
    width: calc(50% - 1.5rem); } }

@media only screen and (min-width: 1024px) and (max-width: 1279px) {
  .item {
    width: calc(33.333333% - 1.5rem); } }

@media only screen and (min-width: 1280px) and (max-width: 1919px) {
  .item {
    width: calc(25% - 1.5rem); } }

@media only screen and (min-width: 1920px) {
  .item {
    width: calc(20% - 1.5rem); } }
