// font stacks
$heading-typeface: Merriweather, Georgia, Times, "Times New Roman", serif;
$body-typeface: "Source Sans Pro", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

// colours
$color: #333;
